CompileFlags:
  Add: 
    - -xc++
    - -Weverything
    - -Wno-c++98-compat
    - -Wno-unsafe-buffer-usage-in-container
    - -std=c++26
    # TODO: raw nix store paths is a bit of hack, no build system is also a hack
    - -fmodule-file=std=/nix/store/9gl528aaiik33kj5j7pa01nhwrbhlljj-std-pcm/std.pcm
    - -isystem
    - /nix/store/m300ngckdmal8wnl3bjbpwca3a5bn74c-glibc-2.42-67-dev/include
  Compiler: clang++
