ColumnLimit: 100
ContinuationIndentWidth: 2
NamespaceIndentation: All
BinPackArguments: false
PointerAlignment: Left
# PackParameters: AlwaysOnePerLine
# TODO: in clang-format 22, should be BreakBeforeCloseBracketFunction: true
AlignAfterOpenBracket: BlockIndent
